# === ENTORNOS VIRTUALES ===
.venv/
venv/

# === CONFIGURACIÓN / VARIABLES DE ENTORNO ===
.env

# === ARCHIVOS PYTHON COMPILADOS ===
*.pyc
__pycache__/

# === BASE DE DATOS LOCAL ===
db.sqlite3

# === ARCHIVOS GENERADOS POR DJANGO ===
media/
staticfiles/
*.log

# === CONFIGURACIÓN DEL EDITOR ===
.idea/
.vscode/

# === ARCHIVOS DEL SISTEMA ===
.DS_Store
Thumbs.db
